nav {
  display: flex;
  justify-content:space-between;
  background-color: #cca300;
  padding-left: 1.5em;
  font-size: 30px;
  height: 120px;
  align-items: center;
  padding-right: 1.5em;
  position: fixed;
  width: 100%;
}

nav > span {
  font-family: Bungee;
}

nav > div {
  text-align: center;
}
