.new-tweet {
  display: flex;
  flex-direction: column;
}

.new-tweet > form {
  display: flex;
  flex-direction: column;
}

.new-tweet > form > div{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.new-tweet > form > div > button{
  font-family: Bungee;
  background-color: #4156a1;
  color: white;
}

#counter {
    font-family: Bungee;
}

#tweet-text {
  border: 0px;
  border-bottom: solid 2px;
  background-color: #f3f1eb;
  color: gray;
}

